# Feature Transformation

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('supershops.csv')

In [3]:
df1 = df.copy()

In [4]:
df2 = df.copy()

In [5]:
df3 = df.copy()

In [6]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [7]:
df.describe()

       Marketing Spend  Administration      Transport         Profit
count        50.000000       50.000000      49.000000      50.000000
mean      73721.615600   121344.639600  215331.732449  112012.639200
std       45902.256482    28017.802755  119665.391550   40306.180338
min           0.000000    51283.140000       0.000000   14681.400000
25%       39936.370000   103730.875000  134050.070000   90138.902500
50%       73051.080000   122699.795000  214634.810000  107978.190000
75%      101602.800000   144842.180000  299737.290000  139765.977500
max      165349.200000   182645.560000  471784.100000  192261.830000

In [8]:
df.shape

(50, 5)

# Normalization

In [9]:
from sklearn.preprocessing import MinMaxScaler

In [10]:
m = MinMaxScaler(feature_range=(0,1))

In [21]:
ms = m.fit(df[['Marketing Spend', 'Administration', 'Transport']])

In [12]:
ms

MinMaxScaler()

In [13]:
df[['Marketing Spend', 'Administration', 'Transport']] = m.transform(df[['Marketing Spend', 'Administration', 'Transport']])

In [14]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.651744   1.000000    Dhaka  192261.83
1         0.983359        0.761972   0.940893      Ctg  191792.06
2         0.927985        0.379579   0.864664  Rangpur  191050.39
3         0.873136        0.512998   0.812235    Dhaka  182901.99
4         0.859438        0.305328   0.776136  Rangpur  166187.94

# Standardization

In [15]:
from sklearn.preprocessing import StandardScaler

In [17]:
s = StandardScaler()

In [20]:
ss = s.fit(df1[['Marketing Spend', 'Administration', 'Transport']])

In [19]:
ss

StandardScaler()

In [22]:
df1[['Marketing Spend', 'Administration', 'Transport']] = s.transform(df[['Marketing Spend', 'Administration', 'Transport']])

In [23]:
df1.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        -1.622347       -4.374930  -1.818088    Dhaka  192261.83
1        -1.622340       -4.374926  -1.818088      Ctg  191792.06
2        -1.622342       -4.374940  -1.818089  Rangpur  191050.39
3        -1.622343       -4.374935  -1.818089    Dhaka  182901.99
4        -1.622343       -4.374943  -1.818090  Rangpur  166187.94

# Robust Scaler

In [24]:
from sklearn.preprocessing import RobustScaler

In [25]:
r = RobustScaler()

In [27]:
rs = r.fit(df2[['Marketing Spend', 'Administration', 'Transport']])

In [28]:
rs

RobustScaler()

In [29]:
df2[['Marketing Spend', 'Administration', 'Transport']] = r.transform(df[['Marketing Spend', 'Administration', 'Transport']])

In [30]:
df2.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        -1.184605       -2.984560  -1.295416    Dhaka  192261.83
1        -1.184601       -2.984557  -1.295416      Ctg  191792.06
2        -1.184602       -2.984566  -1.295416  Rangpur  191050.39
3        -1.184602       -2.984563  -1.295417    Dhaka  182901.99
4        -1.184603       -2.984568  -1.295417  Rangpur  166187.94

# Max Absolute Scaler

In [31]:
from sklearn.preprocessing import MaxAbsScaler

In [32]:
ma = MaxAbsScaler()

In [33]:
mas = ma.fit(df3[['Marketing Spend', 'Administration', 'Transport']])

In [34]:
mas

MaxAbsScaler()

In [35]:
df3[['Marketing Spend', 'Administration', 'Transport']] = ma.transform(df[['Marketing Spend', 'Administration', 'Transport']])

In [36]:
df3.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.000004        0.000004   0.000002    Dhaka  192261.83
1         0.000006        0.000004   0.000002      Ctg  191792.06
2         0.000006        0.000002   0.000002  Rangpur  191050.39
3         0.000005        0.000003   0.000002    Dhaka  182901.99
4         0.000005        0.000002   0.000002  Rangpur  166187.94